<header class="p-3 text-white">
    <div class="container nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <!-- <div class="d-flex flex-wrap align-items-center  justify-content-center justify-content-lg-start "> -->

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Add Company</a></li>
          <li><a class="nav-link px-2 text-white" >List All Companies</a></li>
        </ul>
        <div >
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Company Code" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="companycode" />
          <button type="button" class="btn btn-primary" (click)="searchCompany()">search</button>
          </div>
          
        </div>
      <!-- </div> -->
    </div>
  </header>